<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Чат</title>
  <link rel="stylesheet" href="./chat.css"></link>
</head>
<body class="body">
    <div class="chat-main">
        <div id="plist" class="chat-list">
                <div class="form-group">
                    <div class="link-button">
                        <a class="link-button" href="/src/pages/profile/profile.hbs">Профиль</a>
                    </div>
                <input type="text" class="chat-search" placeholder="Поиск...">
                </div>    
                
                <ul class="chat-list-ui">
                {{#each data.people_list}}
                    <li class="chat-item">
                        <div class="chat-item-info">
                            <div class="chat-item-img">
                                <img class="chat-img" src="/static/images/avatar.png" width="160" height="90" alt="avatar"/>
                            </div>
                                <div class="chat-about">
                                    <div class="chat-item-name">{{user_name}}</div>
                                    <div class="chat-item-message">{{last_message}}</div>
                                </div>
                                <div class="chat-item-about2">
                                    <div class="chat-item-about-rows">
                                        <div class="chat-item-time">{{time_last_message}}</div>
                                        <div class="chat-item-unread">
                                            <div class="chat-item-unread-text">{{unread_messagges}}</div>
                                        </div>
                                    </div>
                                </div>    
                        </div>                                      
                    </li>
                {{/each}}
                </ul>

        </div>

        <div class="chat-container">
        <div class="chat-container-rows">
            
                <div class="chat-container-profile-head">
                    <div class="chat-container-profile-head-column">
                    <img class="chat-img" src="/static/images/avatar.png" alt="avatar"/>
                    <div class="chat-item-name chat-name-header">{{data.profile.first_name}} {{data.profile.second_name}}</div>
                    <button class="chat-item-button-info">
                        <img class="chat-container-button-info-icon" src="/static/images/points.png" alt="info">
                    </button>
                    </div>           
                </div>

                <div class="chat-container-dialog">
                    <div class="dialog-last-date">{{data.dialog_room.last_date}}</div>
                    <ui class="dialog-list">
                        {{#each data.dialog_room.dialog}}
                            <li class="message-li">
                                <div class="message">
                                    <div class="message-{{type}}">
                                        <div class="message-content">{{message}}</div>                                 
                                        <div class="message-time">{{time}}</div>
                                    </div>
                                </div>                                
                            </li>
                        {{/each}}
                    </ui>
                </div>

                <div class="chat-container-footer">
                    <input type="text" name="message" class="chat-container-footer-input" placeholder="Сообщение">
                    <button class="chat-container-button">
                        <img class="chat-container-button-send-icon" src="/static/images/send.png" alt="send message">
                    </button>
                </div>
        </div>        
        </div>    
    </div>
</body>
</html>